# Virtual Environment
.venv/
venv/
env/
ENV/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Local Database
*.db
*.sqlite
*.sqlite3
zapflow.db

# Environmental variables and keys
.env
.env.*

# Logs
*.log

# System files
Thumbs.db
.DS_Store

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
